@font-face {
    font-family: "Black Ops One";
    src: url("BlackOpsOne-Regular.ttf") format("truetype");
}

:root {
    --color-primary: #142C16;
    --color-secondary: #516353;
    --color-extra: #748A44;
}

html,
body {
    font-family: 'Black Ops One', cursive;
    height: 100%;
    width: 100%;

    padding: 0 0;
    margin: 0 0;

    max-width: 100%;
    overflow-x: hidden;

    /*background-color: var(--color-primary);*/
    color: var(--color-extra);
}

.nav-bar {
    width: 100%;
    height: 10%;
    background-color: var(--color-extra);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-nav {
    height: 85%;
    width: 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    /*box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*border-left: .5rem solid var(--color-extra);*/
}

.left-nav>.rect {
    height: 100%;
    width: 90%;
    background-color: black;
}

.left-nav>.side-right {
    height: 100%;
    width: 10%;
    clip-path: polygon(100% 100%, 0% 100%, 0% 0%);
    background-color: black;
}

.right-nav {
    height: 85%;
    width: 20%;

    display: flex;
    flex-direction: row;

    /*box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*border-right: .5rem solid var(--color-extra);*/
}

.right-nav>.rect {
    height: 100%;
    width: 90%;
    background-color: black;
}

.right-nav>.side-left {
    height: 100%;
    width: 10%;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
    background-color: black;
}

.nav-bar-middle-container {
    width: 100%;
    height: 13%;
    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    overflow: hidden;
}

.nav-bar-middle-container>.left-side {
    width: 2%;
    height: 100%;

    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    background-color: black;

}

.nav-bar-middle-container>.rect {
    width: calc(100% - 40% - 4%);
    height: 100%;

    background-color: black;
}

.nav-bar-middle-container>.right-side {
    width: 2%;
    height: 100%;

    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    background-color: black;
}

.video-container {
    width: 100%;
    aspect-ratio: 16 / 9;

    margin-top: 15px;
    padding-left: 5px;
    padding-top: 5px;
}

.video-container>video {
    width: calc(100% - 10px);
}

.card-seperator {
    width: 100%;
    height: 5vh;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    margin-top: 4vh;
    background-color: var(--color-secondary);
}

.swiper {
    display: flex;
    width: 100%;
    aspect-ratio: 13 / 16;
}

.card-container {
    width: 100%;
    height: 100%;
    margin-top: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    /*background-color: var(--color-extra);*/
}

.info-card {
    display: flex;
    flex-direction: column;

    width: 70%;
    max-height: 90%;
    aspect-ratio: 11 / 16;
}

.card-image {
    display: flex;
    width: 100%;
    height: 50%;
}

.card-text {
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 3px 2px;
    background-color: var(--color-secondary);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .9rem;
}
