@font-face {
    font-family: "Black Ops One";
    src: url("BlackOpsOne-Regular.ttf") format("truetype");
}

:root {
    --color-primary: #142C16;
    --color-secondary: #516353;
    --color-extra: #748A44;
}

html,
body {
    font-family: 'Black Ops One', cursive;

    padding: 0 0;
    margin: 0 0;

    max-width: 100%;
    overflow-x: hidden;

    background-color: var(--color-primary);
    color: var(--color-extra);
}

.nav-bar {
    position: relative;
    width: 100%;
    height: 10vh;
    max-height: 8vh;
}

.left-nav-bar {
    position: relative;
    left: 5px;
    top: 5px;
    height: calc(100% - 10px);
    width: 20%;
}

.left-nav-bar .text-box {
    height: 100%;
    width: 80%;
    background-color: var(--color-secondary);
}

.left-nav-bar .right-seperator {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    left: 60%;
    background: var(--color-secondary);
    clip-path: polygon(50% 100%, 50% 0%, 100% 100%);
}

.outline-locker {
    width: 100%;
    height: 90%;
    background-color: var(--color-extra);
}

.middle-nav-bar {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: calc(100%);
    width: calc(68% - 15px);
    top: 0;
    left: calc(16% + 7.5px);
}

.middle-nav-bar .left-seperator {
    height: 100%;
    width: 10%;
    background: var(--color-secondary);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}

.middle-nav-bar .text-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    background-color: var(--color-secondary);

    justify-content: center;
    align-items: center;

    gap: 0;
    font-size: .65rem;
    line-height: 1;
    text-align: center;
}

.middle-nav-bar .right-seperator {
    height: 100%;
    width: 10%;
    background: var(--color-secondary);
    clip-path: polygon(-2% 0%, 99% 0%, -2% 100%);
}

.right-nav-bar {
    position: absolute;
    height: calc(100% - 15px);
    width: 20%;
    top: 5px;
    left: calc(84% - 20px);
}

.right-nav-bar .left-seperator {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--color-secondary);
    clip-path: polygon(0% 100%, 50% 0%, 50% 100%);
}

.right-nav-bar .text-box {
    position: absolute;
    height: 100%;
    width: 80%;
    top: 0;
    left: 20%;
    background-color: var(--color-secondary);
}

.video-container {
    width: 100%;
    aspect-ratio: 16 / 9;

    margin-top: 15px;
    padding-left: 5px;
    padding-top: 5px;
}

.video-container>video {
    width: calc(100% - 10px);
}

.card-seperator {
    width: 100%;
    height: 5vh;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    margin-top: 4vh;
    background-color: var(--color-secondary);
}

.swiper {
    display: flex;
    width: 100%;
    aspect-ratio: 13 / 16;
}

.card-container {
    width: 100%;
    height: 100%;
    margin-top: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    /*background-color: var(--color-extra);*/
}

.info-card {
    display: flex;
    flex-direction: column;

    width: 70%;
    max-height: 90%;
    aspect-ratio: 11 / 16;
}

.card-image {
    display: flex;
    width: 100%;
    height: 50%;
}

.card-text {
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 3px 2px;
    background-color: var(--color-secondary);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .9rem;
}
