:root {
    --color-primary: #142C16;
    --color-secondary: #516353;
    --color-extra: #748A44;
}

html, body {
    font-family: 'Arial';

    padding: 0 0;
    margin: 0 0;

    height: 100%;
    width: 100%;

    overflow: hidden;
}

.main-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    justify-content: flex-start;
	border: 2px solid black;
}

.logo {
	width: 100%;
	aspect-ratio: 25 / 18;
	align-self: stretch;
	padding: 0 0;
}

.logo>img {
    height: 100%;
    width: 100%;
	object-fit: stretch;
}

.side-bar { 
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 35%;
    box-shadow: 2px 2px;
	justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
} 

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
	height: 200px;
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.convinient-panel {
	display: flex;
	margin-top: 1rem;
	flex-grow: 1;
	width: 80%;
	border: 1px solid black;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.convinient-panel * {
    font-size: 1.3rem;
}

.convinient-panel *:hover {
    text-decoration: underline;
}

.search-bar {
    display: flex;
    aspect-ratio: 16 / 2;
    max-height: 45px;
    min-height: 30px;
    width: 80%;
    /*border-radius: 15px;*/
    overflow: hidden;
}

.search-bar>input {
    width: 100%;
    height: 100%;
    font-size: 1rem;
	border-radius: 20px;
    padding-left: .5rem;
}

.post-preview {
	display: flex;
	flex-direction: column;
	align-items: center;
    flex: 1 1 auto;
	flex-grow: 1;
	width: 100%;
	overflow: hidden;
	overflow-y: scroll;
	overflow-x: hidden;
}

.post-banner {
	aspect-ratio: 18 / 5;
	width: 300px;
}

.post-banner > img {
	width: 100%;
	height: 100%;
}

.result-container {
    height: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.result-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    aspect-ratio: 13 / 16;
    overflow: hidden;
    width: 100%;
    /*box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;*/
    /*box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
	border-radius: 15px;
}

.url-cover {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.result-card > img {
	width: 100%;
	height: 50%;
    object-fit: contain;
    border-bottom: 1px solid black;
}

.text-part {
	display: flex;
	flex-direction: column;
	padding: .5rem;
	flex-grow: 1;
}

.result-card>h3, p {
    margin: 0 0;
}

.hide {
    display: none;
}

.card-link {
    text-decoration: none;
    color: black;
}

.header {
    font-weight: 600;
    text-transform: uppercase;
}

.description {
    padding-top: .1rem;
    font-size: .9rem;
}

.post-creation-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: none;
    justify-content: center; 
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.8);
}

.creation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 85%;
    width: 40%;
    border: 2px solid black;
    padding: 40px;
    background-color: white;
}

.name-input {
    width: 80%;
    height: 50px;
}

.name-input > input {
    font-size: 1.2rem;
    padding: 5px;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;       
}

.thumbnail-input {
    width: 80%;
    height: 50px;
}

.thumbnail-input > input {
    font-size: 1.2rem;
    padding: 5px;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;       
}

.description-input {
    width: 80%; 
    height: calc(100% - 200px);
}

.description-input > textarea {
    font-family: 'Arial';
    font-size: 1rem;
    height: 100%; 
    width: 100%;
    padding: 5px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;       
}

.bottom-control-panel {
    display: flex; 
    justify-content: flex-end;
    margin-top: 20px;
    width: 80%;
    height: 40px;
}

.post-submit {
    display: flex; 
    justify-content: center;
    align-items: center;
    aspect-ratio: 2 / 1;
    height: 100%;
    background-color: blue;
    color: white;
    border-radius: 20px;
    margin-left: 10px;
}

.cancel-button {
    display: flex; 
    justify-content: center;
    align-items: center;
    aspect-ratio: 2 / 1;
    height: 100%;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
}

.edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    aspect-ratio : 1 / 1;
    border-radius: 50%;
    width: 40px;
    top: 10px;
    right: 10px;
    background-color: rgba(120, 120, 120, 0.5);
}

.edit-button:hover {
    cursor: pointer;
    background-color: rgba(120, 120, 120, 0.8);
}

.button-base:hover {
    cursor: pointer;
}
