:root {
    --color-primary: #ffffff;
    --color-secondary: #f9dec2;
    --color-extra: #c3e9ef;
}

body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    background-color: var(--color-primary);
    font-family: "Arial";
    line-height: 1.5;
}

.navbar-top {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: clamp(5vh, 50px, 10vh);
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    background-color: var(--color-primary);
}

.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.ebook-logo {
    display: flex;
    height: 100%;
    aspect-ratio: 1/1;
}

.ebook-logo img {
    flex-grow: 1;
    margin: min(5px, 5%);
}

.ebook-text {
    border-bottom: clamp(.1em, 2px, .2em) solid black;
    font-size: clamp(1.5vw, 1.2rem, 2vw);
    color: black;
}

.navbar-right {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px clamp(1vw, 10px, 1.2vw);
    height: 100%;
    list-style: none;
    font-size: clamp(1.2vw, 1rem, 2vw);
    font-weight: 400;
    cursor: pointer;
    transition: 0.2s;
    width: calc(100% / 3);
}

.navbar-btn:hover {
    background-color: var(--color-extra);
}

.navbar-btn:active {
    background-color: var(--color-extra);
}

.navbar-btn a {
    color: #000;
    text-decoration: none;
}

.main-section {
    position: relative;
    width: 100%;
    aspect-ratio: 17/10;
    min-height: 80vh;
    overflow: hidden;
    margin-top: clamp(5vh, 50px, 10vh);
}

.slide-show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 300%;
    transition: 1s;
}

.slide-show img {
    display: flex;
    width: 100%;
    height: 100%;
}

.main-section .btn-left {
    position: absolute;
    top: 50%;
    right: 8px;
}

.main-section .btn-right {
    position: absolute;
    top: 50%;
    left: 8px;
}

.main-section .main-btn {
    background-color: var(--color-extra);
    opacity: 0.7;
    border: none;
    color: white;
    padding: 0 clamp(1vw, 15px, 1.5vw);
    text-align: center;
    text-decoration: none;
    display: grid;
    font-size: clamp(1vw, 1rem, 5%);
    width: clamp(1vw, 40px, 5%);
    aspect-ratio: 1/1;
    justify-content: center;
    align-content: center;
}

.main-section .main-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: clamp(10vh, 40px, 10vh);
    padding: 0;
}

.contributors-info h1 {
    margin-top: 5vh;
    margin-bottom: 0;
    text-align: center;
    font-size: clamp(1vw, 2.5rem, 5vw);
}

.info-card {
    display: flex;
    border: min(0.5vh, 0.1rem) solid black;
    width: clamp(20vw, 300px, 25vw);
    aspect-ratio: 10/15;
    height: auto;
    border-radius: clamp(3vh, 20px, 5vh);
    padding-top: 0;
    margin-top: 5vh;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: 0.3s;
}

.info-card:hover {
    transform: translate(0, -5vh);
}

.card-avatar-bg {
    background-color: var(--color-secondary);
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-avatar-logo {
    line-height: 0;
    display: inline-block;
    margin: clamp(1vh, 5px, 1.2vh);
    border: clamp(0.8vw, 4px, 1.2vw) solid rgba(200, 200, 200, 0.4);
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    transition: linear 0.25s;
    width: clamp(8vw, 70px, 9vw);
    aspect-ratio: 1/1;
}

.name-tag {
    font-size: clamp(1vh, 1.8rem, 4vh);
}

.card-text {
    position: relative;
    height: 50%;
    background-color: white;
}

.card-text p {
    text-align: center;
    padding: 0 10px;
    font-weight: 300;
    font-size: clamp(1vw, 1.4rem, 1.5vw);
}

.info-section: {
    display: flex;
    flex-direction: column;
}

.info-section h1 {
    text-align: center;
    font-size: clamp(1vw, 2.5rem, 3vw);
    margin-top: clamp(10vh, 40px, 10vh);
}

.info-box {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 10vh 8vw;
    padding-top: 0;
    height: clamp(20%, 50vh, 60%);
}

.info-1 .info-img {
    border-top-right-radius: clamp(3vh, 20px, 5vh);
    border-bottom-right-radius: clamp(3vh, 20px, 5vh);
}

.info-2 .info-img {
    border-top-left-radius: clamp(3vh, 30px, 5vh);
    border-bottom-left-radius: clamp(3vh, 30px, 5vh);
}

.info-text {
    display: flex;
    border: min(0.5vh, 0.1rem) solid black;
    width: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 300;
    padding: 10px 8px;
    font-size: clamp(1vw, 1.5rem, 1.5vw);
}

.info-img {
    flex-grow: 1;
    width: 30%;
    display: flex;
    position: relative;
    border: min(0.5vh, 0.1rem) solid black;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
}

.info-1 .info-img {
    border-left: 0;
}

.info-2 .info-img {
    border-right: 0;
}

.info-img img {
    aspect-ratio: 1/1;
    width: 80%;
}

footer {
    background-color: var(--color-secondary);
    border-top: 2px dimgrey;
    padding: 5px 5px;
    font-size: clamp(1vw, 1.2rem, 1.5vw);
}

/* for laptop and pc based  */
@media only screen and (min-width: 1200px) {
    body {
        font-size: 15px;
    }

    main {
        margin: 0 15vw;
    }

    .main-section {
        margin: 0 0;
    }

    .info-1 {
        padding: 2vh 5vw;
    }

    .info-2 {
        padding: 10vh 5vw;
    }

    .navbar-top {
        padding: 0 0;
        margin: 0 0;
        height: clamp(5vh, 70px, 15vh);

    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 20px;
    }

    .navbar-top {
        position: absolute;
        flex-direction: column;
        height: clamp(40px, 20vh, 120px);
    }

    .ebook-logo {
        display: none;
        margin-right: 10px;
        height: 100%;
    }

    .ebook-text {
        font-size: 1.5rem;
    }

    .navbar-left {
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: center;
        height: 70%
    }

    .navbar-btn {
        font-size: 1rem;
    }

    .main-section {
        position: relative;
        width: 100%;
        aspect-ratio: 19/10;
        min-height: 35vh;
        margin-top: clamp(40px, 20vh, 120px);
        overflow: hidden;
    }

    .main-section .main-btn {
        display: none;
    }

    .contributors-info h1 {
        font-size: 1.5rem;
        margin-top: 5vh;
    }

    .cards-slider {
        width: 100%;
        overflow: hidden;
    }

    .cards-container {
        flex-direction: row;
        justify-content: space-between;
        width: calc(calc(var(--card-number) * 75vw) + calc(calc(var(--card-number) - 1) * 30px));
        padding-left: calc(calc(100vw - 75vw) / 2);
        margin-left: calc(calc(calc(75vw + 30px) * calc(-1 * calc(var(--card-index) - 1))) + var(--tx, 0px));
    }

    .smooth {
        transition: .3s ease-out;
    }

    .info-card {
        margin-top: 5px;
        border-radius: 10px;
        width: 75vw;
        filter: brightness(60%);
    }

    .card-text p {
        line-height: 1.5;
        font-size: 1rem;
    }

    .info-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .info-section h1 {
        font-size: 1.5rem;
        margin-top: 0;
    }

    .info-box {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100% padding: 5px 5px;
    }

    .card-avatar-logo {
        width: 30%;
    }

    .info-img {
        width: 100%;
        aspect-ratio: auto;
    }

    .info-2 .info-img {
        border-radius: 0;
        border: 0;
        border-bottom: 0;
    }

    .info-1 .info-img {
        border-radius: 0;
        /*border: 1px solid black;*/
        border: 0;
        border-bottom: 0;
    }

    .info-img img {}

    .info-text {
        width: 100%;
        height: auto;
        padding: 0;
        border: 0;
        font-size: 1.2rem;
        line-height: 1.5;
    }

    .info-1 .info-img {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1none order: 1;
    }

    .info-1 .info-text {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
        border-top: 0;
    }

    .info-2 .info-text {
        border-top: 0;
    }

    .info-2 {
        margin-top: 2vh;
    }

    footer {
        font-size: 0.8rem;
    }
}
