:root {
    --color-primary: #142C16;
    --color-secondary: #516353;
    --color-extra: #748A44;
}

html, body {
    padding: 0 0;
    margin: 0 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.view-page {
    height: 100%;
    width: 100%;
    overflow: hidden;
	display: flex;
    flex-direction: row;
	justify-content: center;
}

.double-mode {
	display: flex;
    flex-direction: row;
	justify-content: flex-start;
}

.doublemode > * {
    width: 50%;
    height: 100%;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
}

.post-section {
	width: 50%;
    height: auto;
    border-radius: 10px;
    padding: 50px;
    overflow: auto;
    box-shadow: 2px 2px 20px 0px;
}

.post-section::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.round-button {
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
	align-items: center;
	justify-content: center;
    text-align: center;
}

.round-button > span {
    font-size: 2rem;
}

.round-button:hover {
    cursor: pointer;
}

.remove-button:hover {
    background-color: red;
}

.edit-button:hover {
    background-color: lime;
}

.control-panel {
    position: absolute;
    bottom: 0;
    right: 0; 
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80px;
    height: 180px;
}

.editor-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    border: 1px solid black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.run-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 50px;
}

.text-input {
    flex: 1;
    font-size: 1.2rem;
    width: 100%;
}

.hide {
    display: none;
}

.panel-button {
    aspect-ratio: 1 / 1;
    height: 100%;
    /*border: 1px solid black;*/
    display: flex;
	align-items: center;
	justify-content: center;
    text-align: center;
}

.panel-button:hover {
    cursor: pointer;
    background-color: #388E3C;
    color: white;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.confirm-overlay {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.confirm-panel {
    display: flex;
    flex-direction: column;
    aspect-ratio: 3 / 2;
    height: 35%;
    background-color: white;
}

.confirm-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
}

.confirm-controller {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
}

.control-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 80%;
    width: 40%;
    border: 1px solid black;
}

.control-button:hover {
    cursor: pointer;
    background-color: #BDBDBD;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}
