:root {
    --color-primary: #142C16;
    --color-secondary: #516353;
    --color-extra: #748A44;
}

html,
body {
    font-family: 'Arial';

    padding: 0 0;
    margin: 0 0;

    height: 100%;
    width: 100%;

    overflow: hidden;
}

.main-screen {
    height: 100%;
    width: 100%;

    display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    height: 60%;
    aspect-ratio: 16 / 9;
    align-self: stretch;
    padding: 0 0;
}

.logo>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(40% - 1.5rem);
    width: clamp(300px, 50%, 50vh);
    margin-top: 1rem;
}

.search-bar {
    display: flex;
    aspect-ratio: 16 / 2;
    max-height: 45px;
    min-height: 30px;
    width: 90%;
    overflow: hidden;
}

.search-bar>input {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border-radius: 20px;
    padding-left: .5rem;
}

.result-wrapper {
    flex: 1 1 auto;
    width: 100%;
    margin-top: .5rem;
    border: 1px solid black;
    overflow-y: scroll;
	overflow-x: hidden;
}

.result-container {
    flex-grow: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.result-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;

    border-bottom: 1px solid black;
    padding: .5rem .5rem;
}

.result-card>h3,
p {
    margin: 0 0;
}

.hide {
    display: none;
}

.card-link {
    text-decoration: none;
    color: black;
}

.header {
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
}

.description {
    padding-top: .1rem;
    font-size: .9rem;
}

@media only screen and (max-width: 600px) {
    .logo {
        height: 40%;
    }

    .search-container {
        height: calc(60% - 3rem);
    }
}
