:root {
    --color-primary: #142C16;
    --color-secondary: #516353;
    --color-extra: #748A44;
}

html,
body {
    font-family: 'Arial';

    padding: 0 0;
    margin: 0 0;

    height: 100%;
    width: 100%;

    overflow: hidden;
}

.web-whole {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

#filesfrm {
    position: absolute;
    top: 0;
	display: flex;
	justify-content: center;
    height: 100%;
	width: 100%; 
}

#filesfld {
    position: absolute;
    bottom: 0;
    margin-bottom: clamp(1rem, 120px, 5%);
    width: clamp(10vw, 350px, 40%);
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 2px solid #555;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}

#submit-button {
    margin-top: 120px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}

#fileslbl {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: black;
	text-align: center;
}

#progress {
	width: 0;
	background-color: green;
	color: white;
	font-weight: bold;
	font-size: 14px;
	line-height: 25px;
	padding: 0 5px;
}

.drop-note {
    display: none;
    align-items: center; 
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.8);
}

.logo {
	width: 100%;
	height: 100%;
}

.logo > img {
	height: 100%;
	width: 100%;
}

.submit-section {
    position: relative;
	align-items: center;
	width: 100%;
    aspect-ratio: 2 / 1;
}

.file-manager-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.file-manager {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 70%;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 30px;
    background-color: #c2b97f;
}

.file-manager > * {
    background-color: white;
}

.search-bar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 40px;
	margin-bottom: 40px;
	height: 6vh;
	width: 100%;
	border: 1px solid black;
}

.text-input {
    flex: 1;
    border: none;
    font-size: 1.2rem;
    padding-left: 20px;
}

.search-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	aspect-ratio: 1 / 1;
}

.manager-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 80vh;
    border: 1px solid black;
	margin-bottom: 40px;
}

.file-preview {
	height: 100%;
	width: 70%;
    overflow-x: hidden;
    overflow-y: scroll;
	border-right: 1px solid black;
}

.info-preview {
	width: 30%;
	display: flex;
	flex-direction: column;
}

.preview-image-info {
	width: 100%;
	height: auto;
	aspect-ratio: 3 / 2;
	border-bottom: 1px solid black;
}

.image-preview { 
	aspect-ratio: 3 / 2;
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.text-info {
	flex-grow: 1;
	padding: 10px;
}

.text-info > * {
	margin-top: 10px; 
}

.created-time-info {
	height: auto;
	width: clamp(100%, 100%, 100%);
}

.result-card {
	display: flex;
	align-items: center;
	height: 50px;
	width: 100%;
	border-bottom: 1px solid black;
}

.result-card:hover {
    cursor: pointer;
    background-color: #f2ece4;
}

.file-name {
	padding-left: 10px;
}

.file-icon {
	display: flex; 
	justify-content: center; 
	align-items: center;
	aspect-ratio: 1 / 1;
	height: 100%;
	border-right: 1px solid black;
}

.hide { display: none; }

.base-button {
    display: inline-block;
    color: blue;
    text-decoration-line: underline;
}

.base-button:hover { cursor: pointer; }

.delete-button { color: red; }
